.dropDown_content {
  display: flex;
  width: 100%;
  height: auto;
  align-items: space-between;
  flex-direction: column;
}
.rotate {
  rotate: 180deg;
}

button {
  background-color: transparent;
  border: none;
}
